.imgteaser {
	border: 1px solid #DDDDDD;
    float: left;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.imgteaser a {
	float: left;
	margin: 10px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
}
.imgteaser a:hover {
	cursor: pointer;
}
.imgteaser a img {
	float: left;
	margin: 0;
	border: none;
}
.imgteaser a:hover .caption {
	margin: 0;
	border-top: 1px solid #999;
	bottom: 1px;
}
.imgteaser a .caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    bottom: -60px;
    color: white;
    left: 1px;
    padding: 8px 10px;
    position: absolute;
    width: 93%;
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
	-webkit-transition: bottom 0.5s ease-in 0s;
	-moz-transition: bottom 0.5s ease-in 0s;
	transition: bottom 0.5s ease-in 0s;
}
.center-me {
	height: 442px;
    left: 75%;
    margin: -240px 0 0 -198px;
    position: absolute;
    top: 40%;
    width: 330px;
}
.credit {
	color: #FFFFFF;
    font: 10px verdana;
    margin: 15px;
    position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.75s ease-in;
	-moz-transition: opacity 0.75s ease-in;
	transition: opacity 0.75s ease-in;
}
a:hover .credit {
	opacity: 1;
}
.desc {
    font-size: 14px;
}
a:hover .desc {
	
}
.caption h3 {
	margin: 0;
	padding-bottom: 10px;
	
}
.caption h3 b {
 	color: #E0FE14;
    font-family: Arial,sans-serif;
    font-weight: normal;
}
.home {
	
}
.home a {
	background: url("../img/home.png") no-repeat scroll 0 0 transparent;
	text-indent: -9999px;
	display: block;
	width: 16px;
	height: 16px;
	margin: 20px;
}
.bounce {
	color: yellow;	-webkit-animation-name:bounce;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:alternate}
		@-webkit-keyframes bounce{from{margin-left:0px;}
			to{margin-left:5px;}
}